*.iml
.idea
.tscache
.DS_Store
node_modules/
coverage/
temp/
test/typescript/axios.js*
sauce_connect.log
test/module/**/package-lock.json
backup/
.env
dist/
.vscode/
docs/.vitepress/dist
docs/.vitepress/cache
openspec/
.opencode/
.claude/
