name: ci

on:
  push:
    branches: [master, 'v1.x/*', 'v2.x/*']
  pull_request:
    branches: [master, 'v1.x/*', 'v2.x/*']

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x, 18.x]

    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm install
      - run: npm test
